body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.school-logo,
.department-logo {
    height: 80px;
    margin-right: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ... when text overflows */
    max-width: calc(100% - 200px); /* Adjust the max-width based on logo sizes */
}

.main-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    flex-grow: 1;
}

.students-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.students-list li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.students-list li:last-child {
    border-bottom: none;
}

.students-list li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
        max-width: 100%; /* Remove max-width on smaller screens */
    }

    .main-content {
        margin-top: 100px;
    }
}
